body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
    color: black;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 15px;
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

table th,
table td {
    padding: 10px;
    text-align: left;
}

table th {
    background-color: red;
    color: #fff;
}

img {
    max-width: 50%;
    height: auto;
    display: flex;
    margin: 0 auto;
}

table{
    border: 1px solid red;
}