body {
    background-color: #82A0D8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #8DDFCB;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #213555;
    font-weight: bold;
    font-size: 18px;
}

.container {
    text-align: center;
    padding: 0px 50px;
}

h1 {
    color: #213555;
}

p {
    color: #fff;
    font-size: 16px;
}

.circle-img {
    border-radius: 50%;
    border: 8px solid #000000;
    width: 150px;
    height: 150px;
    margin: 20px;
}

.ver-mas {
    color: #fff;
}

.btn {

    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #0066CC;
    padding: 10px 30px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

label {
    font-weight: bold;
    font-size: 18px;
}

input {
    border: 2px solid #2c6a93;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}