@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 40px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 30px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}



body {
  width: 100%;
  /* height: 100%;y */
}

.logo {
  /* height: 100px; */
  /* width: 100px; */
  /* margin-top: -1em; */
  margin-left: -0.4em;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  background: #bbcfa1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;

}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: rgb(255, 255, 255);
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: rgb(255, 255, 255);
  position: absolute;
  bottom: -4px;
  left: 20px;

}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/* Estilo base para todas las pantallas */
.hero-text, .hero-imagen {
    margin: 0 10px; /* Margen del 5% en cada lado */
}

/* Estilo para pantallas pequeñas (hasta 768px de ancho, generalmente tablets) */
@media only screen and (max-width: 768px) {
    .hero-text, .hero-imagen {
        margin: 0;
        padding-top: 25px; /* Reduzca el margen al 3% en pantallas pequeñas */
    }
}

/* Estilo para pantallas medianas (769px a 1024px de ancho, generalmente laptops) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .hero-text, .hero-imagen {
        margin: 0 1%; /* Ajuste del margen al 4% en pantallas medianas */
    }
}

/* Estilo para pantallas grandes (más de 1024px de ancho, generalmente desktops) */
@media only screen and (min-width: 1025px) {
    .hero-text, .hero-imagen {
        margin: 0 8%; /* Ajuste del margen al 6% en pantallas grandes */
    }
}


.hero-imagen img {
  border: 8px solid #bbcfa1;
  border-radius: 10px;
  vertical-align: top; 
}
#hero {
  background-image: url('img/hero5.png');
  height: 565px;
  width: 100%;
  background-size: cover;
  padding: 0 50px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

#hero h4 {
  padding-bottom: 15px;

}

#hero h1 {
  color: #bbcfa1;

}


#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;

}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);

}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: rgb(129, 40, 129);
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #e0b9cf;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #b8eeb1;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #a9b1f8;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: #f5bff5;
}

#feature .fe-box:nth-child(6) h6 {
  background-color: #d6a47a;
}

.product1 {
  text-align: center;
}

.product1 .pro-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  flex-wrap: wrap;

}
.fe-box{
  padding-top: 20px;
}
.product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid rgb(219, 206, 219);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;


}

.product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.07);
}

.product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

.product1 .pro .description {

  text-align: center;
  padding: 10px 0;
}

.product1 .pro .description span {
  color: #220222;
  font-size: 12px;


}

.product1 .pro .description h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

.product1 .pro .description i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

.product1 .pro .description p {
  padding-top: 7px;
  font-size: 19px;
  font-weight: 700;
  color: rgb(197, 139, 197);
}

.product1 .pro #cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e4d7e0;
  border-color: 1px solid #011604;
  position: absolute;
  bottom: 20px;
  right: 10px;

}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("https://th.bing.com/th/id/R.9b2c7b3861783f614c2ee2d5e5585292?rik=2oKgQjo0YEr29w&pid=ImgRaw&r=0");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: white;
  font-size: 16px;
}

#banner h2 {
  color: white;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span {
  color: #ef3636;
}


#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;



}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("img/b17.jpg");
  min-width: 660px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;


}

#sm-banner .banner-box2 {
  background-image: url("img/b10.jpg");
}

#sm-banner h4 {
  color: white;
  font-size: 20px;
  font-weight: 300;

}

#sm-banner h2 {
  color: white;
  font-size: 28px;
  font-weight: 800;

}

#sm-banner span {
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
  background-color: #e7c3e7;
  border: 1px solid rgb(29, 28, 27);

}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("img/b7.jpg");
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;


}

#banner3 .banner-box2 {
  background-image: url("img/b4.jpg");
}

#banner3 .banner-box3 {
  background-image: url("img/b18.jpg");
}

#banner3 h2 {
  color: white;
  font-weight: 900;
  font-size: 22px;
}

#banner3 h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 15px;

}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("img/b14.png");
  /* background-repeat: no-repeat; */
  background-position: 20% 30%;
  background-color: #041e42;

}

#newsletter h4 {

  font-size: 22px;
  font-weight: 700;
  color: white;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #ce9cdd;

}

#newsletter p span {

  color: #e650d9;

}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: rgb(216, 150, 216);
  color: white;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;


}

#newsletter .form {
  display: flex;
  width: 40%;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 40px;

}

footer .logo {
  margin-bottom: 10px;
  width: 80px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;

}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;

}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #1a1a1a;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid rgb(235, 197, 235);
  border-radius: 6px;
}

footer .install {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: rgb(207, 147, 207);

}

footer .copyright {
  width: 100%;
  text-align: center;
}

#page-header {
  background-image: url('img/b1.jpg');
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h2,
#page-header p {
  color: white;

}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: #c79cc7;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

#prodetails {
  display: flex;
  margin-top: 20px;
}

#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;

}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
  font-size: 26px;
}

#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px dotted rgb(207, 138, 192);
}

#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
  outline: none;
}

#prodetails .single-pro-details button {
  background-color: #c298c2;
  color: white;
}

#prodetails .single-pro-details span {
  line-height: 25px;
}

#page-header.blog-header {
  background-image: url("img/b19.jpg");

}

#blog {
  padding: 150px 150px 0 150px;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}

#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#blog .blog-details {
  width: 50%;
}

#blog .blog-details a {
  text-decoration: none;
  font-size: 11px;
  color: black;
  font-weight: 700;
  position: relative;
}

#blog .blog-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 4px;
  right: -60px;
}

#blog .blog-details a:hover {
  color: #d6bbd6;
  transition: 0.3s;
}

#blog .blog-details a:hover::after {
  background-color: #d6bbd6;
}

#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
  z-index: -9;
}

/* about-paget */

#page-header.about-header {
  background-image: url("img/banner.png");


}

#about-head {
  display: flex;
  align-items: center;
}

#about-head img {
  width: 50%;
  height: auto;



}

#about-head div {
  padding-left: 40px;
}

#about-app {
  text-align: center;
}

#about-app .video {
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}

#about-app .video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* contact-page */

#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-details .details {
  width: 40%;

}

#contact-details .details span,
#form-details form span {
  font-size: 12px;

}

#contact-details .details h2,
#form-details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}

#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}

#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}

#contact-details .details li i {
  font-size: 14px;
  padding-right: 22px;

}

#contact-details .details li p {
  margin: 0;
  font-size: 14px;

}

#contact-details .map {
  width: 55%;
  height: 400px;
}

#contact-details .map iframe {
  width: 100%;
  height: 100%;
}

#form-details {
  display: flex;
  justify-content: space-between;
}

#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.people, .formulario{
  margin: 0 40px;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

#form-details form button {
  background-color: #bbcfa1;
  color: white;
}

#form-details .people div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}

#form-details .people div img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}

#form-details .people div p {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}

#form-details .people div p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: black;
}

/* cart page  */
#cart {
  overflow-x: auto;
}

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img {
  width: 70px;
}

#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;

}

#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;

}

#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;

}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;

}

#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

#cart table tbody tr td {
  padding-top: 15px;
}

#cart table tbody td {
  font-size: 13px;
}

#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#coupon {
  width: 50%;
}

#coupon h3 {
  padding-bottom: 15px;
}

#coupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}

#coupon button {
  background-color: #cf9ecf;
  color: white;
  padding: 12px 20px;
}

#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}

#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;

}

#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}

#subtotal h3 {
  padding-bottom: 15px;
}

#subtotal button {
  background-color: #cf9ecf;
  color: white;
  padding: 12px 20px;
}

@media (max-width:375) {

}

  @media (max-width:799px) {
    #hero {
      background-image: url('img/hero5.png');

    }

    .section-p1 {
      padding: 40px 40px;
    }

    #navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      height: 100vh;
      width: 300px;
      right: -300px;
      background-color: #e3e6f3;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 80px 0 0 10px;
      transition: 0.3s;
    }

    #navbar.active {
      right: 0px;
    }

    #navbar li {
      margin-bottom: 25px;
    }

    #mobile {
      display: flex;
      align-items: center;
    }

    #mobile i {
      color: #1a1a1a;
      font-size: 20px;
      padding-left: 20px;
    }

    #close {
      display: initial;
      position: absolute;
      top: 30px;
      left: 30px;
      color: #222;
      font-size: 24px;
    }

    #lg-bag {
      display: none;
    }

    #hero {
      height: 122vh;
      padding: 0 80px;
      background-position: top 30% right 30%;

    }

    #feature {
      justify-content: center;
    }

    #feature .fe-box {
      margin: 15px 15px;

    }

    .product1 .pro-container {
      justify-content: center;
    }

    .product1 .pro {
      margin: 15px;
    }

    #banner {
      height: 50vh;
    }

    #sm-banner .banner-box {
      min-width: 100%;
      height: 45vh;
      padding: 30px;


    }

    #banner3 {
      padding: 0 40px;

    }

    #banner3 .banner-box {
      width: 28%;

    }

    #newsletter .form {
      width: 70%;
    }



    #form-details {
      flex-wrap: wrap;
    }



  }

  @media (max-width: 375px) {
    .section-p1 {
      padding: 0px !important;
  }
  .section-p1 {
      padding: 0px;
  }
  .product1 {
      text-align: center;
  }
  .section-p1 {
      padding:0px;
  }
  }

  @media (max-width: 477px) {
    .people, .formulario {
      margin: 0 0px;
  }
    .section-p1 {
      padding: 20px;
    }

    #harder {
      padding: 10px 30px;
    }

    h1 {
      font-size: 38px;
    }

    h2 {
      font-size: 32px;
    }

    #hero {
      height: 150vh;
      padding: 0 12px;
      background-position: 65%;

    }

    #feature {
      justify-content: space-between;
    }

    #feature .fe-box {
      width: 155px;
      margin: 0 0 15px 0;
    }

    .product1 .pro {
      width: 100%;
    }

    #banner {
      height: 50vh;
    }

    #sm-banner .banner-box {
      height: 40vh;
    }

    #sm-banner .banner-box2 {
      margin-top: 20px;
    }

    #banner3 {
      padding: 0 20px;
    }

    #banner3 .banner-box {
      width: 100%;
    }

    #newsletter {
      padding: 40px 20px;
    }

    #newsletter .form {
      width: 100%;
    }

    footer .copyright {
      text-align: start;
    }

    /* single product */
    #prodetails {
      display: flex;
      flex-direction: column;
    }

    #prodetails .single-pro-image {
      width: 100%;
      margin-right: 0px;
    }

    #prodetails .single-pro-details {
      width: 100%;
    }

    /* blog-page */
    #blog {
      padding: 100px 20px 0 20px;
    }

    #blog .blog-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

    }

    #blog .blog-img {
      width: 100%;
      margin-right: 0px;
      margin-bottom: 30px;
    }

    #blog .blog-detail {
      width: 100%;
    }

    /* About-Page */
    #about-head {
      flex-direction: column;
    }

    #about-head img {
      width: 100%;
      margin-bottom: 20px;
    }

    #about-head div {
      padding-left: 0px;
    }

    #about-app .video {
      width: 100%;

    }

    /* contact page  */
    #contact-details {
      flex-direction: column;
    }

    #contact-details .details {
      width: 100%;
      margin-bottom: 30px;
    }

    #contact-details .map {
      width: 100%;
    }

    #form-details {
      margin: 10px;
      padding: 30px 10px;
      flex-wrap: wrap;
    }

    #form-details form {
      width: 100%;
      margin-bottom: 30px;
    }

    /* cart page  */
    #cart-add {
      flex-direction: column;
    }

    #coupon {
      width: 100%;
      padding-bottom: 20px;
    }

    #subtotal {
      width: 100%;
      padding: 20px;
    }



  }